@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@layer components {
  body {
    @apply bg-brandgray-300;
    font-family: "Noto sans", sans-serif;
  }
  .btn {
    @apply rounded-lg bg-brandblue py-2 px-4 text-center text-lg text-brandwhite transition-all hover:bg-brandblue/90 active:scale-95 disabled:bg-brandblue/20 disabled:text-gray-600;
  }
  .input {
    @apply mb-8 w-full rounded-lg bg-brandgray-200 px-4 py-3 text-lg outline-brandblue placeholder:text-brandgray-100;
  }

  .custom-scroll::-webkit-scrollbar {
    @apply w-[5px] bg-transparent;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    @apply rounded-md bg-brandgray-200 px-[1px];
  }
}
